.bg-body {
    background-color: $background;
    margin-bottom: -4em;
}

/*----index----*/
.jumbotron {
    background-image: url(../img/ovejasthebarn-_2_.webp);
    background-size: cover;
    background-position: bottom;
    margin-top: 0.3em;
    margin-bottom: 0em;
    height: 40.5rem;
}

.jumbotron h1 {
    font-family: $fontside;
    font-size: 3.2em;
    margin-top: 1em;
    color: rgba(247, 246, 209, 0.97);
    text-shadow: 0 0 4px rgba(159, 154, 119, 0.606);
}

.jumbotron p {
    font-family: $fontside;
    font-size: 3.2em;
    color: rgba(247, 246, 209, 0.97);
    text-shadow: 0 0 4px rgba(159, 154, 119, 0.606);
}
/*----finindex---*/
/*----thebarn---*/
.col-sm-8 {
    padding: 1em;
    display: center;
}

.w3-container {
    margin: 1.5em;
    padding: 0.5em;
}

.fa {
    font-size: 4em;
    color: rgba(89, 156, 89, 0.794);
    padding: 0.2em;
}

.w3-center {
    font-size: $titulosp;
    font-family: $fontside;
    color: $colortitulo;
    font-weight: bold;

}

.w3-centro {
    margin-top: 1.0em;
    margin-bottom: 0.8em;
    text-align: center;
}

.flex-container {
    display: inline-block;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}

.w3-large {
    font-family: $fontside ;
    font-size: $sidetitulo ;
    color: $colortitulo;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.w3-text {
    padding: 0.2em;
    font-family: $fontsidebody;
    font-size: 0.7em;
    color: $colortitulo;
    text-align: center;
}
/*----finthebarn---*/
/*----iniciaservicios---*/
.img-servicio {
    margin-top: 1.5em;
    margin-right: -15px;
    margin-bottom: 1em;
}

.text-servicio {
    margin-top: 0.2em;
}

.card-title {
    text-align: center;
    font-size: $sidetitulo;
    font-family: $fontside;
    text-decoration: rgb(95, 158, 95);
    color: $colortitulo;
    font-weight: bold;

}

.card-text {
    font-size: 1.5em;
    color: $colortitulo;
    font-family: $fontsidebody;

}

.card-text1 {
    margin-top: 2.5em;
    font-size: 1.5em;
    color: $colortitulo;
    font-family: $fontsidebody;

}
/*----finservicios---*/
/*----iniciaeventos---*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " item1 item2"
        " item1 item3";
    gap: 1em;
    padding: 1.5rem;
}

.grid__item h5,
.grid__item li {
    color: rgb(254, 254, 254);
    font-family: $fontsidebody;
    font-size: $sidetitulo;
    padding: 0.6rem;
    margin-top: 2.2rem;
    text-align: center;
}

.grid__item {
    border-radius: 0.5em;
    background-size: cover;
    background-position: center center;
}

.grid__item1 {
    grid-area: item1;

}

.grid__item2 {
    grid-area: item2;
    background-image: url(../img/fotoevento1.webp);
}

.grid__item3 {
    grid-area: item3;
    background-image: url(../img/fotoevento2.webp);
}


.nleft {
    -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;

    background-image: url(../img/foto-frente-con-efecto.webp);
    background-size: cover;
    background-position: center;
    height: 450px;
    margin-top: 3em;
    margin-bottom: 10em;
    border-radius: 0.5em;

}

.nleft:hover {
    filter: grayscale(1.5);
}

.nright h2 {
    font-size: 2rem;
    margin-top: 2em;
    color: rgb(20, 117, 20);
    font-family: $fontside;
}

.nright p {
    font-size: 1.3em;
    color: rgb(92, 142, 92);
    font-family: $fontsidebody;
    text-align: justify;
}

.item {
    height: 250px;
    border: 2px solid rgb(19, 18, 16);

}

.card-img-top {
    border-radius: 0.5em;
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    &:hover {
        filter: brightness(1.3);
    }
}

.efecto {
    border-radius: 0.5em;
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    filter: opacity(2.5);

    &:hover {
        filter: brightness(1.5);
        border-radius: 0.5em;
    }

}

.card-eventos {
    color: rgb(20, 117, 20);
    font-family: $fontside;
    font-size: $titulosp;
    text-align: right;
    margin-top: 1em;
    font-weight: bold;
}

.card-listaeventos li {
    color: rgb(92, 142, 92);
    font-family: $fontsidebody;
    font-size: 1.3em;
    text-align: right;
    list-style: none;
    margin-top: 1em;
}

@mixin tamgal ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.main-galeria {
    background-color: rgba(188, 168, 144, 0.52);
    @include tamgal(1448px, 800px);
}

.galery__img {
    border-radius: 0.5em;
}

.galery--item {
    border-radius: 0.5em;
}

.cc-center {
    color: rgb(20, 117, 20);
    font-family: $fontside;
    font-size: $titulosp;
    text-align: center;
    font-weight: bold;
}

.cc-centertext {
    color: rgb(20, 117, 20);
    font-family: $fontside;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: -0.1em;
}

.card {
    background-color: $background;
    text-align: center;
    border: none;
    margin-bottom: 3em;
}

.carta-texto {
    margin-bottom: -0.2em;
    color: rgb(92, 142, 92);
    font-family: $fontsidebody;
    font-size: 1.3em;
}

.form {
    display: flex;
    justify-content: space-around;
}


.form input {
    color: darkgray;
    width: 300px;
    display: inline;
    margin-top: 15px;
    background-color: rgba(214, 203, 188, 0.52);
    border-style: none none solid none;
    font-size: 15px;
    font-family: $fontside;
    outline: none;
    text-align: center;

}

.button:hover {
    background-color: rgb(89, 159, 122);
    color: rgb(22, 66, 22);
    border: none;

}

.button {
    color: darkgray;
    border: solid rgb(105, 127, 105);
    font-size: 15px;
    font-family: $fontside;
    text-transform: uppercase;
    padding: 1px 6px;
    border-radius: 5px;
    background: rgba(214, 203, 188, 0.52);
    margin: 0.8em;

}

.textarea {
    color: darkgray;
    display: flex;
    margin-top: 15px;
    background-color: rgba(214, 203, 188, 0.52);
    border-style: none none solid none;
    font-size: 15px;
    font-family: $fontside;
    padding: 10px;
    outline: none;
    text-align: center;
}

.text {
    font-size: 38px;
    font-family: $fontside;
    color: rgb(20, 117, 20);
    ;
    text-align: center;
}

.map {

    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   

}

.center {
    position: relative;
    margin-left: 650px;
    margin-top: 15.625em;
}

@-webkit-keyframes tilt-in-top-2 {
    0% {
        -webkit-transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
        transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-top-2 {
    0% {
        -webkit-transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
        transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@-webkit-keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}


@-webkit-keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}